﻿@model DirectorioSecGob.Models.ContactosViewModels
@Html.HiddenFor(model => model.Contacto.IdUsuarioCreacion, new { @class = "form-control", @Id = "hdIdUsuarioCreacion" })
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Contacto.Nombre, new { @class = "control-label", @id = "lblNombre" })
            @Html.TextBoxFor(model => model.Contacto.Nombre, new { @class = "form-control", @Id = "txtNombre" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Contacto.SegundoNombre, new { @class = "control-label", @id = "lblSegundoNombre" })
            @Html.TextBoxFor(model => model.Contacto.SegundoNombre, new { @class = "form-control", @Id = "txtSegundoNombre" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Contacto.ApellidoPaterno, new { @class = "control-label", @id = "lblApellidoPaterno" })
            @Html.TextBoxFor(model => model.Contacto.ApellidoPaterno, new { @class = "form-control", @Id = "txtApellidoPaterno" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Contacto.ApellidoMaterno, new { @class = "control-label", @id = "lblApellidoMaterno" })
            @Html.TextBoxFor(model => model.Contacto.ApellidoMaterno, new { @class = "form-control", @Id = "txtApellidoMaterno" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Contacto.SobreNombre, new { @class = "control-label", @id = "lblSobreNombre" })
            @Html.TextBoxFor(model => model.Contacto.SobreNombre, new { @class = "form-control", @Id = "txtSobreNombre" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Contacto.CorreoElectronico, new { @class = "control-label", @id = "lblCorreo" })
            @Html.TextBoxFor(model => model.Contacto.CorreoElectronico, new { @class = "form-control", @Id = "txtCorreo" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Contacto.Movil, new { @class = "control-label", @id = "lblMovil" })
            @Html.TextBoxFor(model => model.Contacto.Movil, new { @class = "form-control", @Id = "txtMovil" })
        </div>
    </div>
</div>