﻿@model DirectorioSecGob.Models.ContactosViewModels
@Html.HiddenFor(model => model.Domicilio.IdDomicilio, new { @class = "form-control", @Id = "hdIdDomicilio" })
@Html.HiddenFor(model => model.Domicilio.IdUsuarioCreacion, new { @class = "form-control", @Id = "hdIdUsuarioCreacion" })
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio.Calle, new { @class = "control-label", @id = "lblCalle" })
            @Html.TextBoxFor(model => model.Domicilio.Calle, new { @class = "form-control", @Id = "txtCalle" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio.Ciudad, new { @class = "control-label", @id = "lblCiudad" })
            @Html.TextBoxFor(model => model.Domicilio.Ciudad, new { @class = "form-control", @Id = "txtCiudad" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio.Estado, new { @class = "control-label", @id = "lblEstado" })
            @Html.TextBoxFor(model => model.Domicilio.Estado, new { @class = "form-control", @Id = "txtEstado" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio.CP, new { @class = "control-label", @id = "lblCP" })
            @Html.TextBoxFor(model => model.Domicilio.CP, new { @class = "form-control", @Id = "txtCP" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio.Pais, new { @class = "control-label", @id = "lblPais" })
            @Html.TextBoxFor(model => model.Domicilio.Pais, new { @class = "form-control", @Id = "txtPais" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio.Telefono, new { @class = "control-label", @id = "lblTelefono" })
            @Html.TextBoxFor(model => model.Domicilio.Telefono, new { @class = "form-control", @Id = "txtTelefono" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio.Fax, new { @class = "control-label", @id = "lblFax" })
            @Html.TextBoxFor(model => model.Domicilio.Fax, new { @class = "form-control", @Id = "txtFax" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Domicilio.SitioWeb, new { @class = "control-label", @id = "lblSitioWeb" })
            @Html.TextBoxFor(model => model.Domicilio.SitioWeb, new { @class = "form-control", @Id = "txtSitioWeb" })
        </div>
    </div>
</div>