﻿@model DirectorioSecGob.Models.ContactosViewModels
@Html.HiddenFor(model => model.OtroContacto.IdOtroContacto, new { @class = "form-control", @Id = "hdIdOtroContacto" })
@Html.HiddenFor(model => model.OtroContacto.IdUsuarioCreacion, new { @class = "form-control", @Id = "hdIdUsuarioCreacion" })
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.OtroContacto.Nombre, new { @class = "control-label", @id = "lblNombre" })
            @Html.TextBoxFor(model => model.OtroContacto.Nombre, new { @class = "form-control", @Id = "txtNombre" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.OtroContacto.CorreoElectronico, new { @class = "control-label", @id = "lblCorreo" })
            @Html.TextBoxFor(model => model.OtroContacto.CorreoElectronico, new { @class = "form-control", @Id = "txtCorreo" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.OtroContacto.Telefono, new { @class = "control-label", @id = "lblTelefono" })
            @Html.TextBoxFor(model => model.OtroContacto.Telefono, new { @class = "form-control", @Id = "txtTelefono" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.OtroContacto.Movil, new { @class = "control-label", @id = "lblMovil" })
            @Html.TextBoxFor(model => model.OtroContacto.Movil, new { @class = "form-control", @Id = "txtMovil" })
        </div>
    </div>
</div>
