﻿@model DirectorioSecGob.Models.ContactosViewModels
@Html.HiddenFor(model => model.Trabajo.IdTrabajo, new { @class = "form-control", @Id = "hdIdTrabajo" })
@Html.HiddenFor(model => model.Trabajo.IdUsuarioCreacion, new { @class = "form-control", @Id = "hdIdUsuarioCreacion" })
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Calle, new { @class = "control-label", @id = "lblCalle" })
            @Html.TextBoxFor(model => model.Trabajo.Calle, new { @class = "form-control", @Id = "txtCalle" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Ciudad, new { @class = "control-label", @id = "lblCiudad" })
            @Html.TextBoxFor(model => model.Trabajo.Ciudad, new { @class = "form-control", @Id = "txtCiudad" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Estado, new { @class = "control-label", @id = "lblEstado" })
            @Html.TextBoxFor(model => model.Trabajo.Estado, new { @class = "form-control", @Id = "txtEstado" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.CP, new { @class = "control-label", @id = "lblCP" })
            @Html.TextBoxFor(model => model.Trabajo.CP, new { @class = "form-control", @Id = "txtCP" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Pais, new { @class = "control-label", @id = "lblPais" })
            @Html.TextBoxFor(model => model.Trabajo.Pais, new { @class = "form-control", @Id = "txtPais" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Telefono, new { @class = "control-label", @id = "lblTelefono" })
            @Html.TextBoxFor(model => model.Trabajo.Telefono, new { @class = "form-control", @Id = "txtTelefono" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Fax, new { @class = "control-label", @id = "lblFax" })
            @Html.TextBoxFor(model => model.Trabajo.Fax, new { @class = "form-control", @Id = "txtFax" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.SitioWeb, new { @class = "control-label", @id = "lblSitioWeb" })
            @Html.TextBoxFor(model => model.Trabajo.SitioWeb, new { @class = "form-control", @Id = "txtSitioWeb" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Organizacion, new { @class = "control-label", @id = "lblOrganizacion" })
            @Html.TextBoxFor(model => model.Trabajo.Organizacion, new { @class = "form-control", @Id = "txtOrganizacion" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Puesto, new { @class = "control-label", @id = "lblPuesto" })
            @Html.TextBoxFor(model => model.Trabajo.Puesto, new { @class = "form-control", @Id = "txtPuesto" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Departamento, new { @class = "control-label", @id = "lblDepartamentob" })
            @Html.TextBoxFor(model => model.Trabajo.Departamento, new { @class = "form-control", @Id = "txtDepartamento" })
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            @Html.LabelFor(model => model.Trabajo.Oficina, new { @class = "control-label", @id = "lblOficina" })
            @Html.TextBoxFor(model => model.Trabajo.Oficina, new { @class = "form-control", @Id = "txtOficina" })
        </div>
    </div>
</div>