﻿@model DirectorioSecGob.Models.ContactosViewModels
<table id="tableContactos" class="table table-striped table-bordered" style="width:100%; font-size: 12px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto.CorreoElectronico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto.Movil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio.Telefono)
            </th>
            <th>
                Teléfono de trabajo
            </th>
            <th class="no-sort">                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Contactos)
        {
        <tr>
            <td>
                @string.Format("{0} {1} {2} {3}", item.Contacto.Nombre, item.Contacto.SegundoNombre, item.Contacto.ApellidoPaterno, item.Contacto.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto.CorreoElectronico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto.Movil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trabajo.Telefono)
            </td>
            <td>
                @Html.ActionLink(" ", "Contacto", "Contacto", new { id = item.Contacto.IdContacto }, new { @class = "btn btn-info btn-xs glyphicon glyphicon-user", title = "Más información de contacto" })
                @Html.ActionLink(" ", "Eliminar", "Contacto", new { id = item.Contacto.IdContacto}, new { @class = "btn btn-danger btn-xs glyphicon glyphicon-trash", title = "Eliminar contacto" })
            </td>
        </tr>
        }
    </tbody>
</table>