﻿@model DirectorioSecGob.Models.ContactosViewModels
@{
    ViewBag.Title = "Contacto";
}
@section Styles {
    <link href="//www.fuelcdn.com/fuelux/3.13.0/css/fuelux.min.css" rel="stylesheet">
}
<br />
<div class="row">
    <div class="fuelux col-xs-12">
        @using (Html.BeginForm("Guardar", "Contacto", FormMethod.Post, new { id = "frmContacto" }))
        {
            <div class="wizard" data-initialize="wizard" id="myWizard">
                <div class="steps-container">
                    <ul class="steps">
                        <li data-step="1" class="active">
                            <span class="badge">1</span>Contacto
                            <span class="chevron"></span>
                        </li>
                        <li data-step="2" class="">
                            <span class="badge">2</span>Domicilio
                            <span class="chevron"></span>
                        </li>
                        <li data-step="3" class="">
                            <span class="badge">3</span>Trabajo
                            <span class="chevron"></span>
                        </li>
                        <li data-step="4" class="">
                            <span class="badge">4</span>Otro Contacto
                            <span class="chevron"></span>
                        </li>
                    </ul>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(false, "Debe ingresar toda la información requerida.", new { @class = "text-danger" })
                    </div>
                }
                <div class="step-content">
                    <div class="step-pane active sample-pane alert" data-step="1">
                        @Html.HiddenFor(model => model.Contacto.IdContacto, new { @class = "form-control", @Id = "hdIdContacto" })
                        @Html.Partial("Contacto/_Contacto", Model)
                        <div class="pull-right">
                            <button id="nextStep1" type="button" class="btn btn-default btn-next">
                                Continuar <i class="glyphicon glyphicon-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="step-pane active sample-pane alert" data-step="2">
                        @Html.Partial("Contacto/_Domicilio", Model)
                        <div class="pull-right">
                            <button id="prevStep1" type="button" class="btn btn-default btn-prev">
                                <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                            </button>
                            <button id="nextStep2" type="button" class="btn btn-default btn-next">
                                Continuar
                            </button>
                        </div>
                    </div>
                    <div class="step-pane active sample-pane alert" data-step="3">
                        @Html.Partial("Contacto/_Trabajo", Model)
                        <div class="pull-right">
                            <button id="prevStep2" type="button" class="btn btn-default btn-prev">
                                <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                            </button>
                            <button id="nextStep3" type="button" class="btn btn-default btn-next">
                                Continuar
                            </button>
                        </div>
                    </div>
                    <div class="step-pane active sample-pane alert" data-step="4">
                        @Html.Partial("Contacto/_OtroContacto", Model)
                        <div class="pull-right">
                            <button id="prevStep3" type="button" class="btn btn-default btn-prev">
                                <i class="glyphicon glyphicon-arrow-left"></i> Atrás
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="pull-right">
                <button id="submit" type="submit" class="btn btn-success">
                    <i class="glyphicon glyphicon-floppy-save"></i> Guardar
                </button>
            </div>
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/fullcalendar/fullcalendar.js"></script>
    <script type="text/javascript" src="~/Scripts/fullcalendar/locale-all.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <script src="//www.fuelcdn.com/fuelux/3.13.0/js/fuelux.min.js"></script>
}