﻿@model DirectorioSecGob.Models.ContactosViewModels
@{
    ViewBag.Title = "Contactos";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Content/DataTables/media/css/dataTables.bootstrap.css">
}
<h2>Agenda de contactos</h2>
<hr class="style-red" />
<div class="row">
    <div class="col-xs-12">
        @Html.Partial("Home/_Contactos", Model)
    </div>
</div>
@section Scripts {
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables/media/js/dataTables.bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tableContactos').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ registros por página",
                    "zeroRecords": "Sin contactos",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Sin información",
                    "infoFiltered": "(Filtrado de _MAX_ registros totales)",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente",
                        "first": "Primera página",
                        "last": "Última página"
                    },
                    "sSearch": "Buscar:"
                },
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}