﻿body {
    background-color: #F9F9F9 !important;
}

hr.style-red {
    border: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #FB3449, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #FB3449, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #FB3449, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #FB3449, #f0f0f0);
    margin-bottom: 40px;
}

h2 {
    margin-top: 60px !important;
}

.navbar-red {
    background-color: #eaeaea;
    border-color: #eaeaea;
}

    .navbar-red .navbar-brand {
        color: #555;
    }

    .navbar-red .navbar-nav > li > a {
        color: #555;
        left: -15px;
    }

    .navbar-red .navbar-nav .nav-link:hover, .navbar-red .navbar-nav .nav-link:focus {
        color: #555;
    }

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #FB3449 !important;
    color: #fff !important;
}

.copyright {
    background: #F9F9F9 none repeat scroll 0 0;
    color: #999;
    font-size: 12px;
    line-height: 1.4em;
    padding-top: 25px;
    padding-bottom: 20px !important;
    text-align: center;
}