﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DIRECTORIO SECRETARIA DE GOBIERNO</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/img/favicon.ico" rel="icon" type="image/png" />
    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="navbar navbar-red navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Home")" class="navbar-brand"><img src="~/Content/img/logo.png" alt="Directorio Secretaría de Gobierno" style="height: 53px; margin-top: -17px;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Agenda", "Index", "Home")</li>
                    <li>@Html.ActionLink("Nuevo Contacto", "Contacto", "Contacto")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="copyright">
            <img src="~/Content/img/logosonora.png" style="height:50px;margin-bottom: 10px;">
            <p>
                <b>Secretaría de Gobierno</b>
                Centro de Gobierno. Palacio de Gobierno Comonfort y Dr. Paliza Col. Centenario. Hermosillo, Sonora. C.P. 83260, Hermosillo, Sonora, México.
                <br /> Teléfono: (662) 289-53-00
                <a href="http://www.segob.sonora.gob.mx" title="Secretaría de Gobierno">segob.sonora.gob.mx</a>
            </p>
            <p><small>&copy; 2015 - 2021 Gobierno del Estado de Sonora. Todos los Derechos Reservados</small></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
